@media screen and (min-width: 320px) and (max-width:480px){
   .page{
        font-size: 7vw;
    }
    
    .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 80vw;
    
    }
    .header__sub-logo {
       -ms-flex-preferred-size:100%;
           flex-basis:100%;
        
    }
    .logo__img{
    width:80vw;
    height:60vw;
}
.header__main-logo {
    display: none;
}
.header__contacts {
    display: none;
}

.header__menu {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
}
.header__menu__item {
    -ms-flex-preferred-size:100%;
        flex-basis:100%;
    font-size: 9vw;
    border-bottom: 1vw solid black;
    border-right: none;
}

.content__contacts{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    height: 120vw;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    
}
.contacts__information{
     width:100%;
     text-align: center;
     background:none;
     color:white;
}
.contacts__adress{
   -webkit-box-pack:center;
       -ms-flex-pack:center;
           justify-content:center;
}
.adress__map{
    border:0.5vw solid black;
    width:90%; 
    height: 100%;
    
}
.footer {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    height:100vw;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
}
.footer__menu{
    display: none;
}
.footer__contacts{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    
    -webkit-box-align:center;
    
        -ms-flex-align:center;
    
            align-items:center;
    -ms-flex-preferred-size:50%;
        flex-basis:50%;
    
}
.contacts__sign-for{
    
    text-align: center;
}
.footer__logo{
    -ms-flex-preferred-size:50%;
        flex-basis:50%;
}

}

@media screen and (min-width: 480px) and (max-width:768px){
    .header{
        height: 60vw;
    }
    .header__logo{
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-direction:column;
                flex-direction:column;
        -ms-flex-preferred-size:80%;
            flex-basis:80%;
    }
    .header__main-logo{
        display: none;
    }
    .header__sub-logo{
        -ms-flex-preferred-size:100%;
            flex-basis:100%;
    }
    .logo__img{
        width: 100%;
    }
    .header__contacts{
        display: none;
    }
.header__menu__item{
    font-size: 4.2vw;
}
    
   .item-2, .item-3, .item-4, .item-5 {
    display: none;
}
.item-1 {
    -ms-flex-preferred-size:100%;
        flex-basis:100%;
}
.item-1>span {
    display: none;
}

.wrapper {
    width: 95%;
}

.footer {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    height:90vw;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
}
.footer__menu{
    display: none;
    
}
.footer__contacts{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -ms-flex-preferred-size:40%;
        flex-basis:40%;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    
    font-size: 6vw;
}
.contacts__sign-for{
    font-size: 5vw;
    text-align: center;
}
.footer__logo{
    -ms-flex-preferred-size:55%;
        flex-basis:55%;
}
.footer__logo>.logo__img{
    width: 70%;
    height: 100%;
    
}

    
}

@media screen and (min-width: 768px) and (max-width:1024px){
 .page {
    font-size: 4vw;
} 
 .header {
     height:38vw;
 }
 
 .header__logo{
     -ms-flex-preferred-size:95%;
         flex-basis:95%;
    -ms-flex-pack:distribute;
        justify-content:space-around;
    height: 80%
 }
 
 .logo__img {
     height:30vw;
     width: 40vw;
 }
 
 .header__contacts{
     display: none;
 }
 
 .content__contacts{
     height: 60vw;
 }
 .contacts__information{
     -ms-flex-preferred-size: 45%;
         flex-basis: 45%;
 }
.footer{
    height: 30vw;
    
}
.footer__menu{
    display: none;
}
.footer__contacts{
    
    -ms-flex-pack: distribute;
    
        justify-content: space-around;
    
    -ms-flex-preferred-size:60%;
    
        flex-basis:60%;
    text-align: left;
}
.footer__logo{
    -ms-flex-preferred-size:42%;
        flex-basis:42%;
}
   
}

@media screen and (min-width: 1468px){
    .page{
        font-size: 2vw;
    }
    .slider__item{
        height: 40vw;
    }
   .wrapper{
       width: 70%;
   }
   .header__menu__item:not(:last-child){
        border-right: 0vw ;
    }
    .header__menu__item:hover {
        letter-spacing: 1vw;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        
    }
}