@media screen and (min-width: 320px) and (max-width:480px){
    .page{
        font-size: 5vw;
    }
    .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 80vw;
    
    }
    .header__sub-logo {
       -ms-flex-preferred-size:100%;
           flex-basis:100%;
        
    }
    .logo__img{
    width:80vw;
    height:60vw;
}
.header__main-logo {
    display: none;
}
.header__contacts {
    display: none;
}

.header__menu {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
}
.header__menu__item {
    -ms-flex-preferred-size:100%;
        flex-basis:100%;
    
    border-bottom: 1vw solid black;
    border-right: none;
}

.content__timetable{
    background-image: none;
    background: -webkit-gradient(linear,
    right top, left top,
    from(DarkSlateGray), color-stop(LightSlateGray), color-stop(SlateGray), color-stop(LightSlateGray), to(DarkSlateGray));
    background: -webkit-linear-gradient(right,
    DarkSlateGray, LightSlateGray, SlateGray, LightSlateGray, DarkSlateGray);
    background: -o-linear-gradient(right,
    DarkSlateGray, LightSlateGray, SlateGray, LightSlateGray, DarkSlateGray);
    background: linear-gradient(to left,
    DarkSlateGray, LightSlateGray, SlateGray, LightSlateGray, DarkSlateGray);
    
}

.timetable__value {
  
  width: 30vw;
  height: 30vw; 
}
.timetable_animation-float{
    -webkit-animation: float 1.6s;
            animation: float 1.6s;
    -webkit-animation-iteration-count: 0;
    animation-iteration-count: 0;
}



.footer {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    height:100vw;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
}
.footer__menu{
    display: none;
}
.footer__contacts{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    
    -webkit-box-align:center;
    
        -ms-flex-align:center;
    
            align-items:center;
    -ms-flex-preferred-size:50%;
        flex-basis:50%;
    
}
.contacts__sign-for{
   
    text-align: center;
}
.footer__logo{
    -ms-flex-preferred-size:50%;
        flex-basis:50%;
}

}

@media screen and (min-width: 480px) and (max-width:768px){
    .header{
        height: 60vw;
    }
    .header__logo{
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-direction:column;
                flex-direction:column;
        -ms-flex-preferred-size:80%;
            flex-basis:80%;
    }
    .header__main-logo{
        display: none;
    }
    .header__sub-logo{
        -ms-flex-preferred-size:100%;
            flex-basis:100%;
    }
    .logo__img{
        width: 100%;
    }
    .header__contacts{
        display: none;
    }
.header__menu__item{
    font-size: 4.2vw;
}
.content__timetable{
    height: 60vw;
}    
.timetable__value {
    width:20vw;
    height:20vw;
    font-size: 4vw;
}
.timetable_animation-float{
    -webkit-animation: float 1.6s;
            animation: float 1.6s;
    -webkit-animation-iteration-count: 0;
    animation-iteration-count: 0;
}
.footer {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    height:90vw;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
}
.footer__menu{
    display: none;
    
}
.footer__contacts{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -ms-flex-preferred-size:40%;
        flex-basis:40%;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    
    font-size: 6vw;
}
.contacts__sign-for{
    font-size: 5vw;
    text-align: center;
}
.footer__logo{
    -ms-flex-preferred-size:55%;
        flex-basis:55%;
}
.footer__logo>.logo__img{
    width: 70%;
    height: 100%;
    
}

    
}

@media screen and (min-width: 768px) and (max-width:1024px){
 .page {
    font-size: 4vw;
} 
 .header {
     height:38vw;
 }
 
 .header__logo{
     -ms-flex-preferred-size:95%;
         flex-basis:95%;
    -ms-flex-pack:distribute;
        justify-content:space-around;
    height: 80%;
 }
 .header__sub-logo {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}

.header__main-logo {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}
 .logo__img {
     height:30vw;
     width: 40vw;
 }
 
 .header__contacts{
     display: none;
 }
 

.footer{
    height: 30vw;
    
}
.footer__menu{
    display: none;
}
.footer__contacts{
    
    -ms-flex-pack: distribute;
    
        justify-content: space-around;
    
    -ms-flex-preferred-size:50%;
    
        flex-basis:50%;
    text-align: left;
}
.footer__logo{
    -ms-flex-preferred-size:50%;
        flex-basis:50%;
}
   
}

@media screen and (min-width: 1468px){
    .page{
        font-size: 2vw;
    }
    
   .header__menu__item:not(:last-child){
        border-right: 0vw ;
    }
    .header__menu__item:hover {
        letter-spacing: 1vw;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        
    }
}