

.page {
    font-family: 'PT Sans Narrow', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 3vw;
}

.header {
    
    display: flex;
    flex-direction: row;
    height: 25vw;
    width: 100%;
    background: linear-gradient(to top,
    aliceblue, whitesmoke, whitesmoke, aliceblue);
    align-items:center;
    justify-content: center;
}
.header__logo{
    display: flex;
    flex-direction:row;
    flex-basis: 66.6666666666666%;
}
.header__sub-logo {
    flex-basis: 50%;
}

.header__main-logo {
    flex-basis: 50%;
}
.logo__img{
    width:30vw;
}



.header__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    

}

.contacts__sign-for {
    display: block;
    width: 87%;
    margin-top: 4vw;
    margin-bottom: 4vw;
    
    text-align: center;
    color: white;
    padding: 1vw 2vw 1vw 2vw;
    background: linear-gradient(to bottom, #AA272D 0%,#8D2428 100%);
    border-radius: 20vw;
}

.header__menu{
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    width: 100%;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content:space-between;
    background: linear-gradient(to bottom, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); 
    
}
.menu__link {
    text-decoration: none;
    color: inherit;
}
.header__menu__item {
    
    padding: 1vw 2vw 1vw 2vw;
    text-align: center;
    color: white;
    background: linear-gradient(to bottom, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); 
}


.content__price{
    font-family: 'Open Sans Condensed', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items:center;
   background-image: url(../img/barbell.jpg);
   background-size: cover;
   width: 100%;
    height: 60vw;
    background-position: center;
}

.price {
  
  width: 18vw;
  height: 24vw;  
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); 
  border-radius: 15%;
  text-align: center;
}
.price__value{
    color: firebrick;
    font-weight: bolder;
}

    
.price_animation-bounce-in
{
    -webkit-animation: bounce-in 1.2s;
            animation: bounce-in 1.2s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
}
@keyframes bounce-in
{
    0%
    {
        transform: scale(.9);

        opacity: 0;
    }
    25%
    {
        transform: scale(1.2);
    }
    40%
    {
        transform: scale(.8);
    }
    50%
    {
        transform: scale(1.1);
    }
    60%
    {
        transform: scale(.9);
    }
    70%
    {
        transform: scale(1.05);

        opacity: 1;
    }
    80%
    {
        transform: scale(.95);
    }
    90%
    {
        transform: scale(1.01);
    }
    100%
    {
        transform: scale(1);
    }
}
@-webkit-keyframes bounce-in
{
    0%
    {
        -webkit-transform: scale(.9);

        opacity: 0;
    }
    25%
    {
        -webkit-transform: scale(1.2);
    }
    40%
    {
        -webkit-transform: scale(.8);
    }
    50%
    {
        -webkit-transform: scale(1.1);
    }
    60%
    {
        -webkit-transform: scale(.9);
    }
    70%
    {
        -webkit-transform: scale(1.05);

        opacity: 1;
    }
    80%
    {
        -webkit-transform: scale(.95);
    }
    90%
    {
        -webkit-transform: scale(1.01);
    }
    100%
    {
        -webkit-transform: scale(1);
    }
}

.footer {
    display: flex;
    flex-direction: row;
    border-top:0.3vw solid black;
    justify-content: flex-start;
    width: 100%;
    height: 20vw;
    background: linear-gradient(to top,
    aliceblue, whitesmoke, whitesmoke, aliceblue);
    padding: 2vw 0 2vw 0;
     margin:0;
}

.footer__menu {
    margin:0;
    display: flex;
    flex-direction:column;
    flex-basis:33.333333333333333333%;
    justify-content:flex-around;
    padding-left:5vw;
    box-sizing: border-box;
}

.footer__menu__item {
     margin:0;
    list-style-type: none;
     
    
}
.footer__menu__item:hover{
    text-decoration: underline;
}

.footer__logo {
    display: flex;
    justify-content: center;
    flex-basis:33.333333333333333333%;
}

.footer__contacts {
    display: flex;
    flex-direction:column;
    justify-content: center;
   
    
}
